// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table-buttons {
    text-align: right;
}

.table-buttons form {
    display: contents;
}

.i-button{
    text-align: right;
}

.table-pre{
    color: white;
    font-family: emoji, serif;
    font-size: 15pt;
}

.dop-td{
    color: white;
    font-family: emoji, serif;
    font-size: 14pt;
}
.dop-pre {
    color: white;
    font-family: emoji, serif;
    font-size: 14pt;
}

.dop-div {
    border-radius: 10px;
}

.dop-textarea {
    width:600px;
}

.dop-div2 {
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.overflow-visible {
    white-space: initial;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .dop-td .table-pre .dop-div {
        line-height: 1.4;
    }
}

.nav-link-active-two{
    color: white;
}

